<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<body>

<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .container-h})}">
<div class="container-h" >
    <div class="div-m">
    <h2 sec:authorize="isAuthenticated()">[[${#authentication.principal.KORN_FLNM}]]님의 마이페이지</h2>
    <h3 style="padding-right: 71px;" > 진료내역</h3>
    <div class="table-wrap">
        <table class="head-line" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>이름</th>
                <th>학번</th>
                <th>소속학과</th>
                <th>이메일</th>
                <th>연락처</th>
                <th>성별</th>
                <th>생년월일</th>
                <th>학년</th>
                <th>상태구분</th>
                <th>이용자구분</th>
            </tr>
            </thead>
        </table>
        <div class="table-content makeZ">
            <table cellpadding="0" cellspacing="0">
                <tbody class="body-line">
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>



    <h3 style="padding-right: 71px;">대여내역</h3>
    <div class="table-wrap">
        <table class="head-line" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>이름</th>
                <th>학번</th>
                <th>소속학과</th>
                <th>이메일</th>
                <th>연락처</th>
                <th>성별</th>
                <th>생년월일</th>
                <th>학년</th>
                <th>상태구분</th>
                <th>이용자구분</th>
            </tr>
            </thead>
        </table>
        <div class="table-content makeZ">
            <table cellpadding="0" cellspacing="0">
                <tbody class="body-line">
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>



    <h3 style="padding-right: 71px;">클리닉내역</h3>
    <div class="table-wrap">
        <table class="head-line" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>이름</th>
                <th>학번</th>
                <th>소속학과</th>
                <th>이메일</th>
                <th>연락처</th>
                <th>성별</th>
                <th>생년월일</th>
                <th>학년</th>
                <th>상태구분</th>
                <th>후기작성</th>
            </tr>
            </thead>
        </table>
        <div class="table-content makeZ">
            <table cellpadding="0" cellspacing="0">
                <tbody class="body-line">
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td><button class="openPopupButton">후기작성</button></td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td><button class="openPopupButton">후기작성</button></td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                <tr>
                    <td>홍길동</td>
                    <td>201401230</td>
                    <td>컴퓨터공학</td>
                    <td>aa122@naver.com</td>
                    <td>010-1234-5678</td>
                    <td>남</td>
                    <td>001214</td>
                    <td>4</td>
                    <td>졸업</td>
                    <td>학생</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


</div>
</th:block>
<!--modal 기준 디자인에 맞춰 변경 해야함-->

<div class="modalZ" id="myModal">
    <div class="modal-contentZ">
        <span class="close">&times;</span>
        <!-- 후기 작성 폼 -->
        <h3 id="modalafterZ" style="padding-right: 71px;">진료내역</h3>
        <form id="reviewForm">
            <!-- 평가 항목 추가 -->
            <label for="rating">클리닉 이름:</label><br>
            <label for="rating">평가:</label>
            <select id="rating" name="rating">
                <option value="5">★★★★★</option>
                <option value="4">★★★★</option>
                <option value="3">★★★</option>
                <option value="2">★★</option>
                <option value="1">★</option>
            </select>
            <br>
            <!-- 내용 작성 -->
            <label for="reviewContent">후기 내용:</label><br>
            <textarea id="reviewContent" name="reviewContent" rows="10" cols="55"></textarea>
            <br>
            <!-- 제출 버튼 -->
            <button type="submit">제출</button>
        </form>
    </div>
</div>

<!-- 버튼 -->

<script>
    // 모달 열기 버튼
    var modalBtn = document.querySelector('.openPopupButton');
    // 모달 창
    var modal = document.getElementById('myModal');
    // 모달 닫기 버튼
    var closeBtn = document.querySelector('.close');

    // 모달 열기 이벤트 리스너
    modalBtn.addEventListener('click', function() {
        modal.style.display = 'block';
    });

    // 모달 닫기 이벤트 리스너
    closeBtn.addEventListener('click', function() {
        modal.style.display = 'none';
    });

    // 외부 클릭 시 모달 닫기
    window.addEventListener('click', function(event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    });

    // 폼 제출 이벤트 리스너
    document.getElementById('reviewForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 폼 기본 동작 방지 (페이지 새로고침)
        // 여기에 후기 작성 제출을 위한 코드를 추가할 수 있습니다.
        // 이 예제에서는 간단히 모달을 닫는 것으로 대체합니다.
        modal.style.display = 'none';
    });
</script>
</body>
</html>
