<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:fragment="setContent(content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/baselayout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/clinicW.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/medexM.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/rentalJY.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userZ.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/communityY.css}">

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
    <body>
    <div class="main-bar">
        <div class="main-logo">
            <a class="logo" href="/mypage/mypageZ"><span style="font-size: 18px; font-weight: 600; color: #31483d;"><i class="ri-shield-cross-line" style="color: #31483d; font-size: 20px;"></i>Medics</span> <span>university</span></a>
        </div>
        <div class="main-user">
            <p sec:authorize="isAuthenticated()">[[${#authentication.principal.KORN_FLNM}]] 님</p>
            <i class="ri-user-line mypage_icon"></i>
            <i class="ri-logout-box-r-line logout_icon"></i>
        </div>
    </div>
    <div class="title-bar">
        <div class="univer-name">
            <h4>Medics <span style="color: #d7c37a; font-size: 14px;">보건시스템</span></h4>
        </div>
        <div class="small-title">
<!--            <h4>마이페이지</h4>-->
        </div>
    </div>
    <div class="mid">
        <div class="left-bar">
            <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <div class="sidebarOption sidebarOption1">
                <h3>진료</h3>
            </div>
            </th:block>
            <div class="sidebarOption sidebarOption2">
                <h3>커뮤니티</h3>
            </div>

            <div class="sidebarOption sidebarOption3">
                <h3>클리닉</h3>
            </div>

            <div class="sidebarOption sidebarOption4">
                <h3>대여</h3>
            </div>
            <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <div class="sidebarOption sidebarOption5">
                <h3>코드관리</h3>
            </div>
            </th:block>

            <div class="sidebarOption sidebarOption7">
                <h3>More</h3>
            </div>
        </div>
        <div class="right">
            <!-- 내용 들어가는곳-->
            <th:block th:replace="${content}">

            </th:block>
        </div>
    </div>

</body>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const smallTitleZ = document.querySelector('.small-title');

        // 세션스토리지에서 'smallTitleContent' 값이 존재하는지 확인
        if (sessionStorage.getItem('smallTitleContent')) {
            // 세션스토리지에서 'smallTitleContent' 값 가져와서 smallTitleZ에 설정
            smallTitleZ.innerHTML = sessionStorage.getItem('smallTitleContent');

        }
        const communityOption1 = document.querySelector('.sidebarOption1');
        const communityOption2 = document.querySelector('.sidebarOption2');
        const communityOption3 = document.querySelector('.sidebarOption3');
        const communityOption4 = document.querySelector('.sidebarOption4')
        const communityOption5 = document.querySelector('.sidebarOption5');

        const communityOption7 = document.querySelector('.sidebarOption7');
        const mypageicon = document.querySelector('.mypage_icon');

        const logouticonZ = document.querySelector('.logout_icon');

        if(communityOption1 != null){
        communityOption1.addEventListener('click', function() {
            smallTitleZ.innerHTML = `
                <a class="logo" href="/mdexmM/checkM"><h4>이용자 정보</h4></a>
                <a class="logo" href="/mdexmM/chartM"><h4>차트등록</h4></a>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption1.classList.add('sidebarOption__active');
            window.location.href = '/mdexmM/checkM';
        });
        }
        communityOption2.addEventListener('click', function() {
            console.log(communityOption2);
            smallTitleZ.innerHTML = `
                <h4>공지사항</h4>
                <h4>후기 보기</h4>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption2.classList.add('sidebarOption__active');
            window.location.href = '/postY/index';
        });

        communityOption3.addEventListener('click', function() {
            smallTitleZ.innerHTML = `
                <a href="/clinicWPage"><h4>클리닉 게시판</h4></a>
                <a href="/clinicWStatus"><h4>신청학생 정보</h4></a>
                <a href="/clinicWReview"><h4>후기 페이지</h4></a>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption3.classList.add('sidebarOption__active');
            window.location.href = '/clinicWPage';
        });

        communityOption4.addEventListener('click', function() {
            smallTitleZ.innerHTML = `
            	<a href="/rentalJY/rentalApp"><h4>대여신청</h4></a>
                <a href="/rentalJY/approval"><h4>대여신청리스트</h4></a>
                <a href="/rentalJY/rentalList"><h4>물품재고관리</h4></a>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption4.classList.add('sidebarOption__active');
            window.location.href = '/rentalJY/rentalApp';
        });
        if(communityOption5 != null){
        communityOption5.addEventListener('click', function() {
            smallTitleZ.innerHTML = `
                <a class="logo" href="/mdexmM/dssM"><h4>질병코드 관리</h4></a>
                <a class="logo" href="/mdexmM/therapyM"><h4>처치물품</h4></a>
                <a class="logo" href="/mdexmM/wrhsM"><h4>약품관리</h4></a>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption5.classList.add('sidebarOption__active');
            window.location.href = '/mdexmM/dssM';
        });
        }
        mypageicon.addEventListener('click', function() {

            smallTitleZ.innerHTML = `
                <h4>마이페이지</h4>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            window.location.href = '/mypage/mypageZ';
        });


        logouticonZ.addEventListener('click', function () {
            sessionStorage.removeItem('smallTitleContent');
            window.location.href = '/logout';
        });

    });
    </script>

</th:block>
</html>