<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:fragment="setContent(content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/baselayout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/clinicW.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/medexM.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/rentalJY.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userZ.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/communityY.css}">

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
    <body>
    <div class="main-bar">
        <div class="main-logo">
            <a class="logo"><span style="font-size: 18px; font-weight: 600; color: #31483d;"><i class="ri-shield-cross-line" style="color: #31483d; font-size: 20px;"></i>Medics</span> university</a>
        </div>
        <div class="main-user">
            <p sec:authorize="isAuthenticated()">[[${#authentication.principal.KORN_FLNM}]] 님</p>
            <i class="ri-logout-box-r-line logout_icon"></i>
            <i class="ri-user-line mypage_icon"></i>
        </div>
    </div>
    <div class="title-bar">
        <div class="univer-name">
            <h4>Medics <span style="color: #d7c37a; font-size: 14px;">보건시스템</span></h4>
        </div>
        <div class="small-title">
            <h4>마이페이지</h4>
        </div>
    </div>
    <div class="mid">
        <div class="left-bar">
            <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <div class="sidebarOption">
                <h3>진료</h3>
            </div>
            </th:block>
            <div class="sidebarOption">
                <h3>커뮤니티</h3>
            </div>

            <div class="sidebarOption">
                <h3>클리닉</h3>
            </div>

            <div class="sidebarOption">
                <h3>대여</h3>
            </div>
            <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <div class="sidebarOption">
                <h3>코드관리</h3>
            </div>
            </th:block>
            <div class="sidebarOption">
                <h3>contact</h3>
            </div>

            <div class="sidebarOption">
                <h3>More</h3>
            </div>
        </div>
        <div class="right">
            <!-- 내용 들어가는곳-->
            <th:block th:replace="${content}">

            </th:block>
        </div>
    </div>

</body>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const smallTitleZ = document.querySelector('.small-title');

        // 페이지가 로드될 때 세션 스토리지에서 small-title의 내용을 가져와 설정
        if (sessionStorage.getItem('smallTitleContent')) {
            smallTitleZ.innerHTML = sessionStorage.getItem('smallTitleContent');
        }
        const communityOption1 = document.querySelector('.sidebarOption:nth-child(1)');
        const communityOption2 = document.querySelector('.sidebarOption:nth-child(2)');
        const communityOption3 = document.querySelector('.sidebarOption:nth-child(3)');
        const communityOption4 = document.querySelector('.sidebarOption:nth-child(4)');
        const mypageicon = document.querySelector('.mypage_icon');
        const logouticonZ = document.querySelector('.logout_icon');
        communityOption1.addEventListener('click', function() {
            smallTitleZ.innerHTML = `
                <h4>이용자 관리</h4>
                <h4>진료차트</h4>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption1.classList.add('sidebarOption__active');
            window.location.href = '/mdexmM/chartM';
        });

        communityOption2.addEventListener('click', function() {
            smallTitleZ.innerHTML = `
                <h4>공지사항</h4>
                <h4>후기 보기</h4>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption2.classList.add('sidebarOption__active');
        });

        communityOption3.addEventListener('click', function() {
            smallTitleZ.innerHTML = `
                <h4>클리닉 게시판</h4>
                <h4>신청학생 정보</h4>
                <h4>후기 페이지</h4>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption3.classList.add('sidebarOption__active');
            window.location.href = '/clinicWPage';
        });

        communityOption4.addEventListener('click', function() {
                smallTitleZ.innerHTML = `
                <h4>대여신청</h4>
                <h4>대여승인요청</h4>
                <h4>물품재고관리</h4>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            const sidebarOptions = document.querySelectorAll('.sidebarOption');
            sidebarOptions.forEach(option => {
                option.classList.remove('sidebarOption__active');
            });
            communityOption4.classList.add('sidebarOption__active');
            window.location.href = '/rentalJY/rentalApp';
        });

        mypageicon.addEventListener('click', function() {
            smallTitleZ.innerHTML = `
                <h4>마이페이지</h4>
            `;
            sessionStorage.setItem('smallTitleContent', smallTitleZ.innerHTML);
            window.location.href = '/mypage/mypageZ';
        });

        logouticonZ.addEventListener('click', function () {
            window.location.href = '/logout';
        })

    });
    </script>

</th:block>
</html>