<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

 <!-- content -->
 <th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .div-m } )}">
<div class="div-m">
    <h3>이용자 정보검색</h3>

    <form class="search-wrap-m" action="/mdexmM/checkM" method="get">
        <div class="info-search-m">
            <p>이름</p><input type="text" style="width: 70px" class="search-name-mm" name="searchName">
            <p>번호</p><input type="text" style="width: 90px" class="search-code-mm" name="searchCode">
            <p>진료기간</p>
            <input type="text" class="picdate search-st-mm" style="width: 60px" name="startDate">
            <p style="font-size: 15px">-</p>
            <input type="text" class="picdate search-ed-mm" style="width: 60px" name="endDate">
        </div>
        <input type="submit" value="검색" style="width: 50px" id="searchBtn-m">
    </form>

    <h3 style="padding-right: 71px;">이용자 정보</h3>
    <div class="table-wrap">
        <table class="head-line" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>이름</th>
                <th>학번</th>
                <th>소속학과</th>
                <th style="width: 160px">이메일</th>
                <th>성별</th>
                <th>연락처</th>
                <th>생년월일</th>
                <th>학년</th>
                <th>상태구분</th>
                <th>이용자구분</th>
            </tr>
            </thead>
        </table>
        <div class="table-content">
            <table cellpadding="0" cellspacing="0">
                <tbody class="body-line suif-m">
                <th:block th:each="i : ${std}" >
                    <tr>
                        <td style="padding-left: 0">[[${i.korn_flnm}]]</td>
                        <td style="padding-left: 0">[[${i.studentid}]]</td>
                        <td style="padding-left: 0">[[${i.scsbjt_nm}]]</td>
                        <td style="padding-left: 0; width: 140px">[[${i.mbr_eml_addr}]]</td>
                        <td>[[${i.gndr_nm}]]</td>
                        <td style="padding-left: 0">[[${i.idfr_telno}]]</td>
                        <td style="padding-left: 0">생년월일</td>
                        <td style="padding-left: 0">[[${i.grade}]]</td>
                        <td style="padding-left: 0">[[${i.enrollment}]]</td>
                        <td style="padding-left: 0">학생</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

    </div>
    <h3 style="padding-right: 91px;">진료내역</h3>
    <div class="recode-wrap-m">
        <div class="recode-table-m">
            <div class="table-wrap">
                <table class="head-line" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>진료일</th>
                        <th>증상</th>
                        <th>질병</th>
                        <th>조취</th>
                        <th>특이사항</th>
                    </tr>
                    </thead>
                </table>
                <div class="table-content">
                    <table cellpadding="0" cellspacing="0">
                        <tbody class="body-line mdmd-m">


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="recode-aria-m">
            <div class="table-wrap">
                <table class="head-line" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>처치</th>
                        <th>투약</th>
                        <th>투여량</th>
                        <th>비고</th>
                    </tr>
                    </thead>
                </table>
                <div class="table-content">
                    <table cellpadding="0" cellspacing="0">
                        <tbody class="body-line fl-mf">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

 </th:block>


<script>

    var choi = '';
    var crr = null;
    var crrt = null;

    $(".suif-m").on('click','tr',function (e) {
        if (crr !== null) {
            crr.classList.remove("select-content-m"); // 이전 선택 요소에서 클래스 제거
        }
        $(e.target).closest("tr").addClass("select-content-m");

        choi = $(e.target).closest("tr").find("td").next().html();

        crr = e.currentTarget;
        console.log(choi);
        $(".mdmd-m").empty();
        getflu(choi);

    })


    $(".mdmd-m").on('click','tr',function (e) {
        if (crrt !== null) {
            crrt.classList.remove("select-content-m"); // 이전 선택 요소에서 클래스 제거
        }
        $(e.target).closest("tr").addClass("select-content-m");

        var a = $(e.target).closest("tr").find("input").val();

        crrt = e.currentTarget;
        console.log(a);
        $(".fl-mf").empty();
        getflt(a);


    })








    function getflu(stdid){
        $.ajax({
            type: "post",
            url: "/getflu",
            dataType: "json",
            data: JSON.stringify({
                studentid:stdid
            }),
            contentType: "application/json",
            success: function(data) {
                console.log(data);
                for (let item of data) {
                    var tr = document.createElement("tr");
                    tr.innerHTML = `<td>${item.mdexm_ymd.replace('T', ' ')}</td>
                    <td>${item.mdexm_cdt}</td>
                    <td>${item.dss_nm}</td>
                    <td>${item.mdexm_act}</td>
                    <td>${item.excptn_mttr}</td>
                    <input type="hidden" class="hid-mmd" value="${item.mdexm_no}">`;
                    $(".mdmd-m").append(tr);
                }
            },
            error: function(err, status) {
                console.log(err, status);
                alert("정보를 불러올 수 없습니다.");
            }
        })

    }

    function getflt(mdxno){
        $.ajax({
            type: "post",
            url: "/getflt",
            dataType: "json",
            data: JSON.stringify({
                mdexm_no:mdxno
            }),
            contentType: "application/json",
            success: function(data) {
                console.log(data);
                for (let item of data) {
                    var tr = document.createElement("tr");
                    tr.innerHTML = `<td>${item.flctn_tp != '약품'?mdcn_nm:''}</td>
                    <td>${item.flctn_tp == '약품'?mdcn_nm:''}</td>
                    <td>${item.flctn_qty}</td>
                    <td></td>`;
                    $(".fl-mf").append(tr);
                }
            },
            error: function(err, status) {
                console.log(err, status);
                alert("정보를 불러올 수 없습니다.");
            }
        })

    }

</script>

</body>
</html>