<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- content -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .divt-m } )}">


    <div class="divt-m">
        <h3 style="padding-right: 88px;">약품 검색</h3>

        <div class="search-wrap-m">
            <form class="info-search-m" name="searchForm" action="wrhsM" method="get">
                <p>코드</p><input type="text" name="searchCode" style="width: 70px;">
                <p>약품명</p><input type="text"  name="searchName">
                <p>남은수량</p><input type="number" style="width: 40px;"  name="searchNum">
            </form>
            <div>
                <button type="button" id="choiBtn-m">추가</button>
                <button type="button" id="searchBtn-m">검색</button>
            </div>
        </div>

        <h3 style="padding-right: 75px;">약품 리스트</h3>
        <div class="table-wrap">
            <table class="head-line" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th style="width: 40px;">번호</th>
                    <th>코드</th>
                    <th>약품명</th>
                    <th style="width: 40px; padding-right: 20px;">재고</th>
                </tr>
                </thead>
            </table>
            <div class="table-content wi-up-m">
                <table cellpadding="0" cellspacing="0">
                    <tbody class="body-line sel-m">
                    <th:block th:each="list,status : ${list}">
                        <tr>
                            <td style="width: 20px;">[[${status.count}]]</td>
                            <td>[[${list.mdcn_code}]]</td>
                            <td>[[${list.mdcn_nm}]]</td>
                            <td style="width: 40px; padding-right: 25px;">[[${list.mdcn_qty}]]</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="submit-wrap-m">
            <input type="submit" value="삭제" id="del-mt">
        </div>
        <h3 style="padding-right: 67px;">약품 수불부</h3>
        <div class="inout-m-wrap">


            <div class="table-wrap" style="max-width: 200px;" >
                <table class="head-line" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>년 월</th>
                    </tr>
                    </thead>
                </table>
                <div class="table-content wi-up-m" style="height: 250px">
                    <table cellpadding="0" cellspacing="0">
                        <tbody class="body-line">
                        <tr>
                            <td>24년 2월</td>
                        </tr>
                        <tr>
                            <td>24년 1월</td>
                        </tr>
                        <tr>
                            <td>23년 12월</td>
                        </tr>
                        <tr>
                            <td>23년 11월</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="table-wrap">
                <table class="head-line" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>구분</th>
                        <th>코드</th>
                        <th>약품명</th>
                        <th>사유</th>
                        <th>입고량</th>
                        <th style="width: 40px; padding-right: 20px;">출고량</th>
                    </tr>
                    </thead>
                </table>
                <div class="table-content wi-up-m" style="height: 250px">
                    <table cellpadding="0" cellspacing="0">
                        <tbody class="body-line">
                        <th:block th:each="flc : ${flc}">
                            <tr>
                                <td>[[${ #temporals.format(flc.flctn_ymd, 'yyyy.MM.dd')}]]</td>
                                <td>[[${flc.flctn_tp}]]</td>
                                <td>[[${flc.mdcn_code}]]</td>
                                <td>[[${flc.mdcn_nm}]]</td>
                                <td>[[${flc.flctn_rsn}]]</td>
                                <td style="padding-left: 25px">[[${flc.flctn_tp eq '입고'?flc.flctn_qty:''}]]</td>
                                <td style="width: 40px; padding-right: 25px;text-align: center">[[${flc.flctn_tp eq '입고'?'':flc.flctn_qty}]]</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <!-- 이용자 정보검색 모달창 -->





        <div id="modalcho" class="hidden">
            <div id="modalcontentt" style="height: 150px;">
                <div class="modal-wrap-m">
                    <h3>약품 입고</h3>
                    <div class="modal-search-m justy-m">
                        <div class="search-left-wrap">
                            <div class="modal-name-m">
                                <p>약품코드</p>
                                <input type="text" class="code-m" style="width: 50px;">
                            </div>
                            <div class="modal-name-m">
                                <p>약품명</p>
                                <input type="text" class="pa-name-m" style="width: 70px;">
                            </div>
                            <div class="modal-name-m">
                                <p>수량</p>
                                <input type="text" class="pa-num-m" style="width: 20px;"   name="">
                            </div>
                        </div>

                    </div>

                    <div class="close-wrap-m">
                        <button type="button" id="clsf">등록</button>
                        <button type="button" id="clch" style="background-color: #82b099;">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modaldel" class="hidden">
            <div id="modalcontentd" style="height: 195px">
                <form class="modal-wrap-m" action="" method="post" name="delForm">
                    <h3>약품 폐기</h3>
                    <div class="modal-search-m justy-m">
                        <div class="search-left-wrap">
                            <div class="modal-name-m">
                                <p>약품코드</p>
                                <input type="text" class="code-m" name="mdcn_code" style="width: 50px;">
                            </div>
                            <div class="modal-name-m">
                                <p>약품명</p>
                                <input type="text" class="pa-name-m" name="mdcn_nm" style="width: 70px;">
                            </div>
                            <div class="modal-name-m">
                                <p>수량</p>
                                <input type="text" class="pa-num-m dln-m" name="flctn_qty" style="width: 20px;"  >
                            </div>
                            <div class="modal-name-m">
                                <p>영구삭제</p>
                                <input type="checkbox" class="pa-ck-m" style="width: 20px;"  >
                            </div>
                            <input type="hidden" name="hidden_qty">
                        </div>


                    </div>
                    <div class="res-m-wrap">
                        <p>사유</p>
                        <input type="text" name="flctn_rsn" class="res-m" required>
                    </div>

                    <div class="close-wrap-m">
                        <button type="button" id="clsd">삭제</button>
                        <button type="button" id="clcd" style="background-color: #82b099;">닫기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>







</th:block>



<script>

    $("#clsf").on('click',function(e) {


        var mdcn_code = $(".code-m").val();
        var mdcn_nm = $(".pa-name-m").val();
        var mdcn_qty = parseInt($(".pa-num-m").val());


        var jsondata = {
            "mdcn_code": mdcn_code,
            "mdcn_nm": mdcn_nm,
            "mdcn_qty": mdcn_qty,
            "mdcn_tp": "약품"
        };


        $.ajax({
            type: "post",
            url: "/regmdcn",
            data: JSON.stringify(jsondata),
            contentType: "application/json",
            success: function(data) {
                console.log(data);
                $(".sds-m").empty();
                window.location.href = "wrhsM";
            },
            error: function(err, status) {
                console.log(err, status);
                alert("등록에 실패했습니다.");
            }
        });
    });


    var choi = '';
    var choiname = '';
    var choinum = 0;
    var crr = null;

    $(".sel-m").on('click','tr',function (e) {
        if (crr !== null) {
            crr.classList.remove("select-content-m"); // 이전 선택 요소에서 클래스 제거
        }
        $(e.target).closest("tr").addClass("select-content-m");
        choi = $(e.target).closest("tr").find("td").next().html();
        choiname = $(e.target).closest("tr").find("td").next().next().html();
        choinum = parseInt($(e.target).closest("tr").find("td").next().next().next().html());
        crr = e.currentTarget;
        console.log(choi);
    })




    $("#searchBtn-m").click(function (){
        $("form[name='searchForm']").submit();
    })


    var modalch = document.getElementById("modalcho");


    document.getElementById("choiBtn-m").addEventListener('click', ()=>{
        modalch.classList.remove('hidden');

        $(".code-m").val(choi);
        $(".pa-name-m").val(choiname);



    })
    document.getElementById("clch").addEventListener('click', ()=>{
        if (crr !== null) {
            crr.classList.remove("select-content-m"); // 이전 선택 요소에서 클래스 제거
            crr = null;
        }
        $(".code-m").val("");
        $(".pa-name-m").val("");
        choi = '';
        choiname = '';
        choinum = 0;
        modalch.classList.add('hidden');
    })


    var modaldel = document.getElementById("modaldel");

    $("#clcd").click(function (){
        if (crr !== null) {
            crr.classList.remove("select-content-m"); // 이전 선택 요소에서 클래스 제거
            crr = null;
        }
        $(".code-m").val("");
        $(".pa-name-m").val("");
        $(".pa-num-m").val("");
        $(".res-m").val("");
        choi = '';
        choiname = '';
        choinum = 0;
        modaldel.classList.add('hidden');
    })

    $("#del-mt").click(function (){

        if(choi === '') {
            alert("약품을 선택해주세요");
            return;
        }
        console.log(choinum);
        modaldel.classList.remove('hidden');
        $(".code-m").val(choi);
        $(".pa-name-m").val(choiname);
    })
    $(".dln-m").keyup(function (){
        var value = $(this).val();

        // 입력된 값이 숫자가 아니면 공백으로 변경
        if (isNaN(value)) {
            $(this).val("");
        }
    })

    $("#clsd").click(function (){
        var dn = parseInt($(".dln-m").val());
        if(choinum < dn){
            alert("재고보다 많은 양입니다. 액수를 확인해주세요");
            $(".dln-m").focus();
            return;
        }
        if($(".res-m").val()==''){
            alert("출고 사유를 입력해주세요");
            $(".res-m").focus();
            return;
        }
        if($(".pa-ck-m").prop("checked")) {
            document.delForm.flctn_qty.value = choinum;
            document.delForm.action="delmdcnt";
            document.delForm.submit();
        } else {
            if($(".dln-m").val()==''){
                alert("수량을 입력해주세요");
                $(".dln-m").focus();
                return;
            }
            var qty = choinum-dn;
            document.delForm.hidden_qty.value=qty;
            document.delForm.action="updatemdcnt";
            document.delForm.submit();
        }


    })








</script>


</body>
</html>