@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.table-wrap-w{margin-top: 10px; }
table-w{ width: 100%; table-layout: fixed; text-align: left; font-size: 12px;}
.head-line-w{border-top: 1px solid #d8dfda; padding: 7px;  font-weight: 700; background-color: #f4f2f2;}
.body-line-w{overflow:scroll; height: 40px;}
/* .table-content-w tr{cursor: pointer;} */
.table-content-w tr:hover{background-color: #e9e9e9;}
.table-content-w td{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.table-content-w{overflow-y:auto; height: 500px; border-bottom: 1px solid #cdd1ce;}

td{padding: 10px; }

.right-w{padding: 10px 10px 10px 20px; overflow: hidden; flex-basis: 83%; max-width: 83%;}
.div-w{display: flex; flex-direction: column; align-items: start; justify-content: start; width: 100%;}
.div-w h3{font-size: 14px; font-weight: 700; margin: 0; padding: 10px 40px 10px 0px; border-bottom: 3px solid #31483d;}

.search-wrap-w{display: flex; justify-content:flex-end; padding: 20px; flex-basis: 100%; width: 98%; background-color: #f4f2f2; margin-top: 10px;}
.search-wrap-w input{ width: 120px; font-size: 11px; padding: 5px;}
.info-search-w{display: flex; justify-content: right; gap: 20px; align-items: center;}
.info-search-w p{margin: 0; font-size: 11px; font-weight: 600;}

input[type='text'].picdate{width: 100%;}
input, textaea{border: none; outline: none;}
textarea{width: 100%; height: 450px;}
.Btn-w{padding: 7px 13px; background-color: #395346; font-size: 10px; color: #ffffff; border: none; border-radius: 2px; font-weight: 600; cursor: pointer;}
#clinicBtn-w {float: right; margin-top: 10px;}

.recode-wrap-w{display: flex; justify-content: space-between; align-items: start; }
.recode-table-w{flex-basis: 70%; width: 100%;}
.recode-aria-w{flex-basis: 27%;  background-color: #fdfdfd; padding: 0px;}
.recode-aria-w p{margin: 0 0 10px 0; font-size: 12px; font-weight: 600;}
.recode-aria-w textarea { width: 280px; height: 140px; padding: 10px; }