@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.div-jy {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
} 

.div-jy h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 10px 40px 10px 0px;
    border-bottom: 3px solid #31483d;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.box1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-basis: 100%;
    width: 21%;
    background-color: #f4f2f2;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 600;
}

#forma {
	width: 120px;
    font-size: 13px;
    padding: 10px; 
    justify-content: space-between;
    flex-basis: 100%;
    width: 21%;
    background-color: #f4f2f2;
    margin-top: 5px;
    font-weight: 600;     
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9 {
    padding: 7px 13px;
    background-color: #395346;
    font-size: 10px;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
}

.searchResult {
    border-top: 1px solid #d8dfda;
    padding: 7px;
    font-weight: 700;
    background-color: #f4f2f2;
    display: block;
}
.resultline {
    overflow-y: auto;
    height: 200px;
    border-bottom: 1px solid #cdd1ce;
}

#box2 {
	display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-basis: 100%;
    width: 24%;
    background-color: #f4f2f2;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 600;
}

#itemStock {
	border-top: 1px solid #d8dfda;
    padding: 7px;
    font-weight: 700;
    background-color: #f4f2f2;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 600;
}

.box3 {
	border-top: 1px solid #d8dfda;
    padding: 7px;
    font-weight: 700;
    background-color: #f4f2f2;
    display: block;
}

.resul {
	overflow-y: auto;
    height: 200px;
    border-bottom: 1px solid #cdd1ce;
}

#box4 {
	display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-basis: 100%;
    width: 21%;
    background-color: #f4f2f2;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 600;
}

.box5 {
	border-top: 1px solid #d8dfda;
    padding: 7px;
    font-weight: 700;
    background-color: #f4f2f2;
    display: block;
}

#addItemForm {
	border-top: 1px solid #d8dfda;
    padding: 7px;
    font-weight: 700;
    background-color: #f4f2f2;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 600;
}

