<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 -->
<!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 -->
<!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 --><!-- 권한 : 관리자 -->
	<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .div-w } )}">

		<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 클리닉 등록(insert) 페이지 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
		<div class="div-w">
			<form name="InsertWForm" action="InsertWForm" method="post">
				<h3>클리닉 등록</h3>
				<div class="table-wrap-w">
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>번호</th>
								<th>분류</th>
								<th>진행자</th>
								<th>제목</th>
							</tr>
						</thead>
					</table>
					<div class="table-content-w" style="height: 150px;">
						<table cellpadding="0" cellspacing="0">
							<tbody class="body-line-w">
								<tr>
									<td><input type="text" name="cli_ntc_sn" id="input-w" th:value="${cli_ntc_sn}" readonly></td>
									<td><input type="text" name="cli_clsf_nm" id="input-w" placeholder="분류 입력" required></td>
									<td><input type="text" name="cli_instr_nm" id="input-w" placeholder="진행자 입력" required></td>
									<td><input type="text" name="cli_ntc_ttl" id="input-w" placeholder="제목 입력" required></td>
								</tr>
							</tbody>
						</table>
					</div>
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>날짜</th>
								<th>시간</th>
								<th>장소</th>
								<th>현재인원</th>
								<th>최대인원</th>
							</tr>
						</thead>
					</table>
					<div class="table-content-w" style="height: 150px;">
						<table cellpadding="0" cellspacing="0">
							<tbody class="body-line-w">
								<tr>
									<td><input type="text" class="picdate search-st-mm"  name="cli_ntc_ymd" readonly placeholder="날짜선택"></td>
									<td><input type="text" name="cli_prgrs_hr" id="input-w" placeholder="시작시간 입력" required></td>
									<td><input type="text" name="cli_use_plc_nm" id="input-w" placeholder="장소 입력" required></td>
									<td><input type="text" name="cli_now_nope" id="input-w" placeholder="현재인원 입력" required pattern="\d*">명</td>
									<td><input type="text" name="cli_max_nope" id="input-w" placeholder="최대인원 입력" required pattern="\d*">명</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-wrap-w">
						<div class="table-w">
							<div class="table-wrap-w">
								<table class="head-line-w" cellpadding="0" cellspacing="0">
									<thead>
										<tr>
											<th>상세내용</th>
										</tr>
									</thead>
								</table>
								<div class="table-content-w">
									<table cellpadding="0" cellspacing="0">
										<tbody class="body-line-w">
											<tr>
												<td><textarea name="cli_ntc_cn" id="textarea-w" placeholder="상세내용 입력"></textarea>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div style="text-align: right; margin-top: 10px;">
									<input type="submit" class="Btn-w" th:value="등록">
									<button class="Btn-w" onclick="window.history.back();" >취소</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
	</th:block>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script th:inline="javascript">
	/////////////////////////////////////////////
	//클리닉 등록 이벤트(URL이동)(관리자)
	function InsertWFormBtnw() {
    	$("#InsertWForm").submit();
	}
	
	$(document).ready(function () {
        $(".picdate").datepicker({
            dateFormat: 'yy-mm-dd',
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],

            changeMonth: true, // 월 변경을 허용
            changeYear: true, // 년 변경을 허용
            onSelect: function(dateText, inst) {
//                선택한 날짜를 picdate 클래스를 가진 입력란에 입력
               $(this).val(dateText);
            }
        });
        $(".picdate").prop('readonly', false); // 입력란을 읽기 전용으로 설정
    });
	/////////////////////////////////////////////
	</script>
	
</body>
</html>