<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

	<th:block
		th:replace="~{./include/baselayout :: setContent( ~{ :: .div-w})}">
		<div class="div-w">
			<h3 style="padding-right: 71px;">신청학생정보</h3>
			<div class="search-wrap-w">
				<div class="info-search-w">
					<input type="text" placeholder="검색어 입력">
					<button type="button" id="searchBtn-w">검색</button>
				</div>
			</div>
			<div class="table-wrap-w">
				<table class="head-line-w" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>이름</th>
							<th>학번</th>
							<th>학과</th>
							<th>이메일</th>
							<th>연락처</th>
							<th>성별</th>
							<th>생년월일</th>
							<th>학년</th>
							<th>상태구분</th>
							<th>이용자구분</th>
						</tr>
					</thead>
				</table>
				<div class="table-content-w" style="height: 300px;">
					<table cellpadding="0" cellspacing="0">
						<tbody class="body-line-w">
							<tr>
								<td>홍길동</td>
								<td>201401230</td>
								<td>컴퓨터공학</td>
								<td>aa122@naver.com</td>
								<td>010-1234-5678</td>
								<td>남</td>
								<td>001214</td>
								<td>4</td>
								<td>재학</td>
								<td>학생</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-wrap-w">
					<h3 style="padding-right: 71px;">신청학생목록</h3>
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<tr>
							<th>이름</th>
							<th>분류</th>
							<th>제목</th>
							<th>날짜</th>
							<th>학번</th>
							<th>상태</th>
						</tr>
					</table>
				</div>
				<div class="table-content-w" style="height: 400px;">
					<table cellpadding="0" cellspacing="0">
						<tbody class="body-line-w">
							<tr>
								<td>홍길동</td>
								<td>금연클리닉</td>
								<td>맑은 공기 느끼기</td>
								<td>2024-03-15</td>
								<td>201401230</td>
								<td>
									<button type="button" id="searchBtn-w">취소</button>
									<button type="button" id="searchBtn-w">취소</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
	</th:block>
</body>
</html>
