<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

	<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .div-w})}">
		<div class="div-w">
			<h3 style="padding-right: 71px;">클리닉 게시판</h3>
			<div class="search-wrap-w">
				<div class="info-search-w">
					<input type="text" id="input-w" placeholder="제목 입력">
					<button type="button" class="Btn-w" id="Btn-w">검색</button>
				</div>
			</div>

			<div class="table-wrap-w">
				<table class="head-line-w" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>순서</th>
							<th>번호</th>
							<th>분류</th>
							<th>제목</th>
							<th>날짜</th>
							<th>장소</th>
							<th>시간</th>
							<th>진행자</th>
							<th>현재인원</th>
							<th>최대인원</th>
							<th>관리</th>
						</tr>
					</thead>
				</table>
				<div class="table-content-w">
					<table cellpadding="0" cellspacing="0">
						<tbody class="body-line-w">
						<th:block th:each="vo, status : ${list}">
							<tr >
								<td>[[${status.count}]]</td>
								<td>[[${vo.cli_ntc_sn}]]</td>
								<td>[[${vo.cli_clsf_nm}]]</td>
								<td>[[${vo.cli_ntc_ttl}]]</td>
								<td>[[${vo.cli_ntc_ymd}]]</td>
								<td>[[${vo.cli_use_plc_nm}]]</td>
								<td>[[${vo.cli_prgrs_hr}]]</td>
								<td>[[${vo.cli_instr_nm}]]</td>
								<td>[[${vo.cli_now_nope}]]명</td>
								<td>[[${vo.cli_max_nope}]]명</td>
								<td>
								<!-- 버튼자체에 th:if로 권한 설정예정(자동으로 숨겨진다함), onclick 추가하여 js만 설정 -->
									<div class="editBtn-w">
										<button class="Btn-w" th:onclick="applyBtnw(`[[${vo.cli_ntc_sn}]]`)">신청</button> <!-- button th:if="${isAdmin}" class -->
										<button class="Btn-w" th:onclick="editBtnw(`[[${vo.cli_ntc_sn}]]`)">수정</button>
									</div>
								</td>
							</tr>
							</th:block>
						</tbody>
					</table>
				</div>
				<div style="text-align: right; margin-top: 10px;">
					<button class="Btn-w" th:onclick="insertBtnw()">클리닉 등록</button> <!-- 관리자권한 : <button th:if="${isAdmin}" class="admin-btn" onclick="adminButtonClick()">버튼</button> -->
				</div>
			</div>
		</div>
	</th:block>

	<script th:inline="javascript">
// 		var msg = '[[${msg}]]';
// 		msg=JSON.parse(msg);
		
// 		if(msg != 'null') {
// 			alert(msg);
// 		}
		/////////////////////////////////////////////
		//검색버튼(제목)
		var searchBtn = document.getElementById('Btn-w');
		searchBtn.addEventListener('click', function() {
			var searchInput = document.querySelector('#input-w').value.toLowerCase();
			var rows = document.querySelectorAll('.body-line-w tr');
			rows.forEach(function(row) {
				var titleCell = row.querySelector('td:nth-child(4)');
				var titleText = titleCell.textContent.toLowerCase();
				if (titleText.includes(searchInput)) {
					row.style.display = '';
				} else {
					row.style.display = 'none';
				}
			});
		});
		//////////////////////////////////////////////////
        // 클리닉 신청 버튼 클릭 이벤(학생)
        function applyBtnw(cli_ntc_sn) {
            window.location.href = 'clinicWApply?cli_ntc_sn=' + cli_ntc_sn;
		}
		//////////////////////////////////////////////////
		
		//////////////////////////////////////////////////
		//클리닉 등록 이벤트(URL이동)(관리자)
		function insertBtnw() {
			window.location.href = 'clinicWDetailPage';
		}
		//////////////////////////////////////////////////
		
		//////////////////////////////////////////////////
		//클리닉 수정 이벤트(URL이동)(관리자) //해당번호에 맞는 게시물을 보내야함
		function editBtnw(cli_ntc_sn) {
		    window.location.href = 'clinicWUpdate?cli_ntc_sn=' + cli_ntc_sn;
		}
		//////////////////////////////////////////////////
	</script>
</body>
</html>
