<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 -->
<!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 -->
<!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 --><!-- 권한 : 관리자, 학생 -->
<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .div-w})}">
  <div class="div-w">
  <form action="DeleteWRForm" method="post">
  	<div>
	    <h3 style="padding-right: 71px;">후기페이지</h3>
    </div>
    
    <div class="search-wrap-w">
        <div class="info-search-w">
			<input type="text" id="input-w" placeholder="제목 입력">
			<button type="button" class="Btn-w" id="Btn-w">검색</button>
        </div>
    </div>

    <div class="table-wrap-w"></div>
        <table class="head-line-w" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>여부</th>
                <th>상태</th>
                <th>관리</th>
            </tr>
            </thead>
        </table>
       <div class="table-content-w">
           <table cellpadding="0" cellspacing="0">
               <tbody class="body-line-w">
               <tr th:each="vo : ${review}">
				   <td>[[${vo.cli_sn}]]</td>
                   <td>[[${vo.cli_wri_ttl}]]</td>
                   <td>[[${vo.cli_wri_cn}]]</td>
                   <td>[[${vo.cli_wri_yn}]]</td>
                   <td>[[${vo.cli_status}]]</td>
                   <td>
					    <div class="applyBtn-w">
					        <button class="Btn-w" id="deleteBtn-w">삭제</button>
					    </div>
                   </td>
               </tr>
               </tbody>
           </table>
           </form>
       </div>
    </th:block>
    
    <script>
	/////////////////////////////////////////////
	//검색버튼(제목)
	var searchBtn = document.getElementById('Btn-w');
	searchBtn.addEventListener('click', function() {
		var searchInput = document.querySelector('#input-w').value.toLowerCase();
		var rows = document.querySelectorAll('.body-line-w tr');
		rows.forEach(function(row) {
			var titleCell = row.querySelector('td:nth-child(3)');
			var titleText = titleCell.textContent.toLowerCase();
			if (titleText.includes(searchInput)) {
				row.style.display = '';
			} else {
				row.style.display = 'none';
			}
		});
	});
	//////////////////////////////////////////////////
	/////////////////////////////////////////////
	//삭제버튼
	var deleteBtn = document.getElementById("deleteBtn-w");
	deleteBtn.onclick = function() {
		event.preventDefault();
		if(confirm("삭제하시겠습니까?") == false ) {
			return;
		}
		document.DeleteWRForm.action = "DeleteWRForm";
		document.DeleteWRForm.submit();
	}
	/////////////////////////////////////////////
	</script>
</body>
</html>
