<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block th:replace="~{./include/baselayout :: setContent( ~{ :: .div-w } )}">

		<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 클리닉 등록(insert) 페이지 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
		<form th:if="${param.action == 'insert'}" name="ClinicWDetailPageInsertForm" action="ClinicWDetailPageInsertForm" method="post">
			<div class="div-w">
				<h3>클리닉 상세페이지</h3>
				<div class="table-wrap-w">
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>번호</th>
								<th>분류</th>
								<th>진행자</th>
								<th>제목</th>
							</tr>
						</thead>
					</table>
					<div class="table-content-w" style="height: 150px;">
						<table cellpadding="0" cellspacing="0">
							<tbody class="body-line-w">
								<tr>
									<td><input type="text" name="cli_ntc_sn" required></td>
									<td><input type="text" name="cli_clsf_nm" placeholder="분류 입력" required></td>
									<td><input type="text" name="cli_instr_nm" placeholder="진행자 입력" required></td>
									<td><input type="text" name="cli_ntc_ttl" placeholder="제목 입력" required></td>
								</tr>
							</tbody>
						</table>
					</div>
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>날짜</th>
								<th>시간</th>
								<th>장소</th>
								<th>현재인원</th>
								<th>최대인원</th>
							</tr>
						</thead>
					</table>
					<div class="table-content-w" style="height: 150px;">
						<table cellpadding="0" cellspacing="0">
							<tbody class="body-line-w">
								<tr>
									<td><input type="date" name="cli_ntc_ymd" readeonly	placeholder="날짜선택" required pattern="\d{4}-\d{2}-\d{2}"></td>
									<td><input type="text" name="cli_prgrs_hr" placeholder="00:00 ~ 00:00" required></td>
									<td><input type="text" name="cli_use_plc_nm" placeholder="장소 입력" required></td>
									<td><input type="text" name="cli_now_nope" placeholder="현재인원 입력" required pattern="\d*">명</td>
									<td><input type="text" name="cli_max_nope" placeholder="최대인원 입력" required pattern="\d*">명</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-wrap-w">
						<div class="table-w">
							<div class="table-wrap-w">
								<table class="head-line-w" cellpadding="0" cellspacing="0">
									<thead>
										<tr>
											<th>상세내용</th>
										</tr>
									</thead>
								</table>
								<div class="table-content-w">
									<table cellpadding="0" cellspacing="0">
										<tbody class="body-line-w">
											<tr>
												<td><textarea name="cli_ntc_cn" placeholder="상세내용 입력"></textarea>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="button-container-w"	style="text-align: right; margin-top: 10px;">
									<!-- 관리자 권한일 때 -->
									<button class="Btn-w">확인</button>
									<button class="Btn-w">취소</button>
								</div>
							</div>
						</div>
					</div>
				</div>
		</form>

		<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 클리닉 수정(update) 페이지 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
		<form th:if="${param.action == 'update']}" name="ClinicWDetailPageUpdateForm" action="ClinicWDetailPageUpdateForm" method="post">
			<div class="div-w">
				<h3>클리닉 상세페이지</h3>
				<div class="table-wrap-w">
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>번호</th>
								<th>분류</th>
								<th>진행자</th>
								<th>제목</th>
							</tr>
						</thead>
					</table>
					<div class="table-content-w" style="height: 150px;">
						<table cellpadding="0" cellspacing="0">
							<tbody class="body-line-w">
								<tr>
									<td><input type="text" name="cli_ntc_sn" required></td>
									<td><input type="text" name="cli_clsf_nm" placeholder="분류 입력" required></td>
									<td><input type="text" name="cli_instr_nm" placeholder="진행자 입력" required></td>
									<td><input type="text" name="cli_ntc_ttl" placeholder="제목 입력" required></td>
								</tr>
							</tbody>
						</table>
					</div>
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>날짜</th>
								<th>시간</th>
								<th>장소</th>
								<th>현재인원</th>
								<th>최대인원</th>
							</tr>
						</thead>
					</table>
					<div class="table-content-w" style="height: 150px;">
						<table cellpadding="0" cellspacing="0">
							<tbody class="body-line-w">
								<tr>
									<td><input type="date" name="cli_ntc_ymd" readeonly	placeholder="날짜선택" required pattern="\d{4}-\d{2}-\d{2}"></td>
									<td><input type="text" name="cli_prgrs_hr" placeholder="00:00 ~ 00:00" required></td>
									<td><input type="text" name="cli_use_plc_nm" placeholder="장소 입력" required></td>
									<td><input type="text" name="cli_now_nope" placeholder="현재인원 입력" required pattern="\d*">명</td>
									<td><input type="text" name="cli_max_nope" placeholder="최대인원 입력" required pattern="\d*">명</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-wrap-w">
						<div class="table-w">
							<div class="table-wrap-w">
								<table class="head-line-w" cellpadding="0" cellspacing="0">
									<thead>
										<tr>
											<th>상세내용</th>
										</tr>
									</thead>
								</table>
								<div class="table-content-w">
									<table cellpadding="0" cellspacing="0">
										<tbody class="body-line-w">
											<tr>
												<td><textarea name="cli_ntc_cn" placeholder="상세내용 입력"></textarea>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="button-container-w"	style="text-align: right; margin-top: 10px;">
									<!-- 관리자 권한일 때 -->
									<button class="Btn-w">확인</button>
									<button class="Btn-w">취소</button>
								</div>
							</div>
						</div>
					</div>
				</div>
		</form>
		
		<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 학생조회 페이지(select) @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!-- 		<form th:if="${param.action == 'select'}" name="ClinicWDetailPageSelectForm" action="ClinicWDetailPageSelectForm" method="post"> -->
			<div class="div-w">
				<h3>클리닉 상세페이지</h3>
				<div class="table-wrap-w">
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>번호</th>
								<th>분류</th>
								<th>진행자</th>
								<th>제목</th>
							</tr>
						</thead>
					</table>
					<div class="table-content-w" style="height: 150px;">
						<table cellpadding="0" cellspacing="0">
							<tbody class="body-line-w">
								<tr>
									<td>[[${vo.cli_ntc_sn}]]</td>
									<td>[[${vo.cli_clsf_nm}]]</td>
									<td>[[${vo.cli_instr_nm}]]</td>
									<td>[[${vo.cli_ntc_cn}]]</td>
								</tr>
							</tbody>
						</table>
					</div>
					<table class="head-line-w" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>날짜</th>
								<th>시간</th>
								<th>장소</th>
								<th>현재인원</th>
								<th>최대인원</th>
							</tr>
						</thead>
					</table>
					<div class="table-content-w" style="height: 150px;">
						<table cellpadding="0" cellspacing="0">
							<tbody class="body-line-w">
								<tr>
									<td>[[${vo.cli_ntc_ymd}]]</td>
									<td>[[${vo.cli_prgrs_hr}]]</td>
									<td>[[${vo.cli_use_plc_nm}]]</td>
									<td>[[${vo.cli_now_nope}]]</td>
									<td>[[${vo.cli_max_nope}]]</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-wrap-w">
						<div class="table-w">
							<div class="table-wrap-w">
								<table class="head-line-w" cellpadding="0" cellspacing="0">
									<thead>
										<tr>
											<th>상세내용</th>
										</tr>
									</thead>
								</table>
								<div class="table-content-w">
									<table cellpadding="0" cellspacing="0">
										<tbody class="body-line-w">
											<tr>
												<td>[[${vo.cli_ntc_cn}]]</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
<!-- 		</form> -->
	</th:block>

	<script th:inline="javacript">
		var msg = '[[${msg}]]';
		msg=JSON.parse(msg);
		
		if(msg != 'null') {
			alert(msg);
		}
	</script>

</body>
</html>